.todo-container {
  width: 100%;
  margin: 1%;
  padding: 20px;
  background: #225c3a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-todo {
  margin-bottom: 20px;
}

.input-todo {
  padding: 10px;
  width: 50%;
  border: 3px;
  border-radius: 4px;
}

.todo-btn {
  padding: 10px 20px;
  border: none;
  background: greenyellow;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  padding: 10px;
  border-bottom: 1px solid gold;
}

.todo-list li:last-child {
  border-bottom: none;
}
